<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    
    <title>Weather Details</title>
</head>

<body>
<form action="/weather_forecast/" method = "POST" >
  Zip code:<br>
    <input type="text" name="zipcode" value="">
    <input type="text" name ='country' value=""/> <br>
    <input type="reset" value="Reset">
    <input type="submit" value="Submit">

</form>

URL is {{ url }}

<p>
<h3>Weather details for {{ zipcode }} (Updated at {{ updated_time }})</h3>
</p>

Towns with zipcode={{ zipcode }}:<br>
{% for item in towns  %}
  {{ item.zip }},{{item.town }}, {{ item.st_abbr }}<br>
{% endfor %}

<br>

Temperature: {{ temperature }} <br>
Humidity: {{ humidity }} <br>
Windspeed: {{ windspeed }} <br>

<h3>Forecast for 5 days:</h3>
<br>
<table>
    <tr>
        <th>Time</th>
        <th>Temperature(F)</th>
        <th>Humidity(%)</th>
        <th>Wind Speed(mph)</th>
    </tr>
    {% for weather in weather_list  %}
    <tr>
        <th>{{ weather.updated_time }}</th>
        <th>{{ weather.temperature }}</th>
        <th>{{ weather.humidity }}</th>
        <th>{{ weather.windspeed }}</th>
    </tr>
    {% endfor %}


</table>

</body>
</html>